

// Process Parameters:

// Process Parameters for IgBlastn:
params.IgBlastn.num_threads =  "4"  //* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.IgBlastn.ig_seqtype =  "Ig"  //* @dropdown @options:"Ig,TCR" @description:"Specify Ig or T cell receptor sequence. Default Ig"
params.IgBlastn.outfmt =  "MakeDb"  //* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop; AIRR = 19"
params.IgBlastn.num_alignments_V =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.IgBlastn.num_alignments_D =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.IgBlastn.num_alignments_J =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.IgBlastn.domain_system =  "imgt"  //* @input @description:"Domain system to be used for segment annotation. Default imgt"
params.IgBlastn.auxiliary_data =  "/usr/local/share/igblast/optional_file/human_gl.aux"  //* @input @description:"File containing the coding frame start positions for sequences in germline J database. Default using igblast aux file"
params.IgBlastn.D_penalty =  -2  //* @input @description:"Penalty for a nucleotide mismatch in D gene.Default = `-2'" 

// Process Parameters for MakeDb:
params.MakeDb.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.MakeDb.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.MakeDb.regions =  "default"  //* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.MakeDb.extended =  "true"  //* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.MakeDb.asisid =  "false"  //* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.MakeDb.asiscalls =  "false"  //* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.MakeDb.inferjunction =  "fasle"  //* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.MakeDb.partial =  "false"  //* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.MakeDb.name_alignment =  ""  //* @input @description:"Optional suffix for the output file. Default NULL."

// Process Parameters for igdiscover_novel_alleles:
params.igdiscover_novel_alleles.consensus_threshold =  50  //* @input description:"Threshold for consensus computation. Default is 50."
params.igdiscover_novel_alleles.threads =  1  //* @input description:"Number of threads to use. Default is 1."

// Process Parameters for process_igdiscover_novel_alleles:
params.process_igdiscover_novel_alleles.filter_chimera =  "false"  //* @checkbox @description:"Ignore novel allele candidates with a potential to result by a chimera sequence. Default true"

// Process Parameters for IgBlastn_novel:
params.IgBlastn_novel.num_threads =  "4"  //* @input @description:"Number of threads (CPUs) to use in the BLAST search. Default value 4"
params.IgBlastn_novel.ig_seqtype =  "Ig"  //* @dropdown @options:"Ig,TCR" @description:"Specify Ig or T cell receptor sequence. Default Ig"
params.IgBlastn_novel.outfmt =  "MakeDb"  //* @dropdown @options:"MakeDb,AIRR" @description:"The output format for igblastn." @tooltip: "MakeDb = 7 std qseq sseq btop; AIRR = 19"
params.IgBlastn_novel.num_alignments_V =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.IgBlastn_novel.num_alignments_D =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.IgBlastn_novel.num_alignments_J =  "10"  //* @input @description:"Number of Germline sequences to show alignments for. Defualt is 10"
params.IgBlastn_novel.domain_system =  "imgt"  //* @input @description:"Domain system to be used for segment annotation. Default imgt"
params.IgBlastn_novel.auxiliary_data =  "/usr/local/share/igblast/optional_file/human_gl.aux"  //* @input @description:"File containing the coding frame start positions for sequences in germline J database. Default using igblast aux file"
params.IgBlastn_novel.D_penalty =  -2  //* @input @description:"Penalty for a nucleotide mismatch in D gene.Default = `-2'" 

// Process Parameters for MakeDb_novel:
params.MakeDb_novel.failed =  "false"  //* @checkbox @description:"Check the box to activate failed option. " @tooltip:"Specify to output the failed sequences as well."
params.MakeDb_novel.format =   "airr"  //* @dropdown @options:"airr,changeo" @description:"Output format. Also specifies the input format for tools accepting tab delimited AIRR Rearrangement or Change-O files."
params.MakeDb_novel.regions =  "default"  //* @dropdown @options:"default,rhesus-igl" @description:"IMGT CDR and FWR boundary definition to use."
params.MakeDb_novel.extended =  "true"  //* @checkbox @description:"Specify to include additional aligner specific fields in the output."
params.MakeDb_novel.asisid =  "false"  //* @checkbox @description:"Specify to prevent input sequence headers from being parsed to add new columns to database."
params.MakeDb_novel.asiscalls =  "false"  //* @checkbox @description:"Specify to prevent gene calls from being parsed into standard allele names in both the IgBLAST output and reference database."
params.MakeDb_novel.inferjunction =  "fasle"  //* @checkbox @description:"Infer the junction sequence. For use with IgBLAST v1.6.0 or older, prior to the addition of IMGT-CDR3 inference."
params.MakeDb_novel.partial =  "false"  //* @checkbox @description:"If specified, include incomplete V(D)J alignments in the pass file instead of the fail file." @tooltip:"An incomplete alignment is defined as a record that is missing a V gene assignment, J gene assignment, junction region, or productivity call."
params.MakeDb_novel.name_alignment =  ""  //* @input @description:"Optional suffix for the output file. Default NULL."

// Process Parameters for trb_genotype_inference:
params.trb_genotype_inference.min_consensus_count =  1  //* @input @description:"The minimal 'consensus_count' value to filter by for the genotype inferring. Default 1"
params.trb_genotype_inference.filter_chimera =  "false"  //* @checkbox @description:"Ignore novel allele candidates with a potential to result by a chimera sequence. Default true"

// Pipeline Config:
$HOSTNAME='default'

process {
	
    container = 'peresay/base:latest'

    withName: igdiscover_igblast {
            container = 'peresay/igdiscover:latest'
        }
    withName: igdiscover_novel_alleles {
            container = 'peresay/igdiscover:latest'
        }
    withName: ogrdbstats_report {
            container = 'williamlees/ogrdbstats:latest'
        }
    withName: trb_haplotype {
            container = 'peresay/suite:latest'
        }
}

params.container = process.container

profiles {

    standard {
        process.executor = 'local'
        process.cpus = "10"
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
}
